
<div id="starter-nav">

    <ul>
        <li> <a class="starter-item" href="profile" style="width: 170px"><i class="fa fa-user-circle fa-fw" aria-hidden="true"></i><span>Your Profile</span></a></li>
        <li> <a class="starter-item" href="search" style="width: 170px"><i class="fa fa-search fa-fw" aria-hidden="true"></i>Search</a></li>
		<li> <a class="starter-item" href="start" style="width: 170px; color: lightgreen"><i class="fa fa-home fa-fw" aria-hidden="true"></i>Start</a></li>
		<li> <a class="starter-item" href="map" style="width: 170px"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>Map</a></li>
        <li> <a class="starter-item" href="createtask" style="width: 170px"><i class="fa fa-plus-circle fa-fw" aria-hidden="true"></i>Create Task</a></li>
		<li> <a (click)="auth.logout()" class="starter-item" href="" style="width: 170px"><i class="fa fa-times-circle fa-fw" aria-hidden="true"></i>Logout</a></li>
    </ul>

	<h2 class="center-me">Startseite - Deine Tasks!</h2>
	
    <p><i class="fa fa-spinner fa-2x" style="padding-top: 15px"></i> Aufgegebene Tasks</p>
	
	
	
	<table class="table" id="starter-" ng-controller="StartCtrl">
	<th>#Nr</th><th><i class="fa fa-info-circle" ></i> Beschreibung</th><th><i class="fa fa-money"></i> Belohnung</th>
		<tr *ngFor="let task of this.tasks">
            <td>{{task._id}}</td>
            <td>{{task.name}}</td>
			<td>{{task.payment}}</td>
			<td><button type="button" class="btn btn-info" (click)="openModal()"><i class="fa fa-circle-o" ></i> Details</button></td>
        </tr>

    </table>
	
	
	
	<hr>

    <p><i class="fa fa-check-circle fa-2x" style="padding-top: 15px; color:green"></i> Angenommene Tasks</p>

    <table class="table" ng-controller="StartCtrl">
	<th>#Nr</th><th><i class="fa fa-info-circle" ></i> Beschreibung</th><th><i class="fa fa-money"></i> Belohnung</th>
        <tr *ngFor="let task of this.my_tasks">
            <td>{{task._id}}</td>
            <td>{{task.name}}</td>
			<td>{{task.payment}}</td>
        </tr>
    </table>

</div>



<!-- Modal -->
<div id="task-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

